/************
 * Partials *
 ************/
/**************
 * Typography *
 **************/
@font-face {
  font-family: Pier;
  src: url("/static/fonts/PierSans/pier-regular.otf"); }
/**********
 * Colors *
 **********/
/***********
 * Modules *
 ***********/
.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 0px 0 0 -25px;
  font: 9pt Arial, sans-serif; }

.ui-datepicker a {
  text-decoration: none; }

/* DatePicker Table */
table {
  border-spacing: 1px !important;
  -webkit-border-horizontal-spacing: 1px;
  -webkit-border-vertical-spacing: 1px; }

.ui-datepicker table {
  width: 100%;
  background-color: #bbb; }

.ui-datepicker-header {
  background-color: #464646;
  color: #e0e0e0;
  font-weight: bold;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #373737; }

.ui-datepicker-title {
  text-align: center; }
  .ui-datepicker-title span {
    text-shadow: none;
    color: #8f8f8f; }

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden; }

.ui-datepicker-prev {
  float: left;
  background-position: center -30px; }

.ui-datepicker-next {
  float: right;
  background-position: center 0px; }

.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb; }

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0); }

.ui-datepicker tbody {
  border-spacing: 1px; }

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #bbb; }

.ui-datepicker tbody td:last-child {
  border-right: 0px; }

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb; }

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px; }

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  filter: dropshadow(color=#fff, offx=1, offy=1); }

.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #dedede));
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: linear-gradient(top, #ededed 0%, #dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 ); }

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7; }

.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  color: #e0e0e0;
  border: 1px solid #6eafbf;
  position: relative;
  margin: -1px; }

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3; }

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0; }

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0; }

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0; }

/************
 * Partials *
 ************/
header {
  position: fixed;
  width: 100%;
  background-color: #373737;
  z-index: 10; }
  header div.header-inner {
    margin: 0 auto;
    padding: 8px 0 6px 0;
    width: calc(100% - 50px);
    overflow: auto; }
    header div.header-inner div.header-branding {
      float: left; }
      header div.header-inner div.header-branding h1 {
        padding: 2px 0 0 0;
        font-family: Pier;
        font-size: 20px;
        color: #8f8f8f;
        letter-spacing: 3px; }
    header div.header-inner div.header-inputs {
      float: right; }
      header div.header-inner div.header-inputs form ul {
        list-style: none;
        overflow: auto; }
        header div.header-inner div.header-inputs form ul li {
          float: left;
          margin-right: 7px;
          overflow: auto; }
          header div.header-inner div.header-inputs form ul li i {
            float: left;
            margin-right: 7px;
            padding: 2px 0;
            font-size: 19px;
            color: #bababa; }
          header div.header-inner div.header-inputs form ul li input {
            float: left;
            padding: 5px 7px;
            background-color: #3f3f3f;
            border: none;
            border-radius: 1px;
            font-size: 12px;
            color: #bababa;
            outline: none; }
          header div.header-inner div.header-inputs form ul li input:focus {
            background-color: #464646; }
        header div.header-inner div.header-inputs form ul li:last-child {
          margin-right: 0; }

main.faces {
  padding-top: 40px;
  background-color: #515151;
  height: calc(100% - 40px); }
  main.faces section.face-grid {
    width: 100%; }
    main.faces section.face-grid ul.faces {
      width: 100%;
      background-color: #515151;
      overflow: auto; }
      main.faces section.face-grid ul.faces li {
        float: left;
        margin: 4px 4px 0 0;
        width: calc((100% - (10 * 4px) - 4px) / 10);
        list-style: none;
        background-color: #373737;
        overflow: hidden; }
        main.faces section.face-grid ul.faces li img {
          width: 100%; }
      main.faces section.face-grid ul.faces li:nth-child(10n+1) {
        margin-left: 4px; }

html, body, div#content, main.map, section.google-map, #map-canvas {
  height: 100%; }

main.map {
  padding-top: 40px;
  background-color: #515151;
  height: calc(100% - 40px); }

section.peek {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 242px;
  height: 242px;
  background-color: #333;
  border: 3px solid #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px #aaa;
  cursor: pointer; }
  section.peek div#peek-map, section.peek div#peek-faces {
    width: 100%;
    height: 100%; }
  section.peek div#peek-faces ul.faces-peek {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #333; }
    section.peek div#peek-faces ul.faces-peek li {
      float: left;
      margin: 2px 2px 0 0;
      width: calc((100% - (6 * 2px) - 2px) / 6);
      list-style: none;
      background-color: #333;
      overflow: hidden; }
      section.peek div#peek-faces ul.faces-peek li img {
        width: 100%; }
    section.peek div#peek-faces ul.faces-peek li:nth-child(6n+1) {
      margin-left: 2px; }

/***********
 * Globals *
 ***********/
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html, body {
  font-family: Arial, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
