/************
 * Partials *
 ************/
/**************
 * Typography *
 **************/
@font-face {
  font-family: Pier;
  src: url("/static/fonts/PierSans/pier-regular.otf"); }
/**********
 * Colors *
 **********/
/***********
 * Modules *
 ***********/
div.ui-datepicker {
  margin: 0 0 0 -25px;
  padding: 0;
  width: 216px;
  border: none;
  border-radius: 1px; }
  div.ui-datepicker div.ui-datepicker-header {
    padding: 0;
    line-height: 30px;
    font-weight: bold;
    color: #e0e0e0;
    background: none;
    background-color: #494949;
    border: none;
    border-radius: 0; }
    div.ui-datepicker div.ui-datepicker-header a.ui-state-hover {
      color: inherit;
      background: none;
      border: none; }
    div.ui-datepicker div.ui-datepicker-header div.ui-datepicker-title {
      background-color: inherit; }
      div.ui-datepicker div.ui-datepicker-header div.ui-datepicker-title span {
        line-height: 30px;
        font-size: 12px;
        color: #e0e0e0; }
  div.ui-datepicker table.ui-datepicker-calendar {
    margin: 0;
    border-spacing: 1px !important;
    -webkit-border-horizontal-spacing: 1px !important;
    -webkit-border-vertical-spacing: 1px !important; }
    div.ui-datepicker table.ui-datepicker-calendar thead {
      background-color: #f7f7f7;
      border-bottom: 1px solid #bbb; }
      div.ui-datepicker table.ui-datepicker-calendar thead tr th {
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 7px;
        color: #666666; }
    div.ui-datepicker table.ui-datepicker-calendar tbody {
      border-spacing: 1px; }
      div.ui-datepicker table.ui-datepicker-calendar tbody tr {
        border-bottom: 1px solid #bbb; }
        div.ui-datepicker table.ui-datepicker-calendar tbody tr td {
          padding: 0;
          border: none;
          border-right: 1px solid #bbb; }
          div.ui-datepicker table.ui-datepicker-calendar tbody tr td span, div.ui-datepicker table.ui-datepicker-calendar tbody tr td a {
            display: inline-block;
            padding: 0;
            font-weight: bold;
            text-align: center;
            width: 30px;
            height: 30px;
            font-size: 11px;
            line-height: 30px;
            color: #666666;
            border: 0; }
          div.ui-datepicker table.ui-datepicker-calendar tbody tr td a.ui-state-default {
            background: #ededed; }
          div.ui-datepicker table.ui-datepicker-calendar tbody tr td a.ui-state-hover {
            background: #f7f7f7; }
          div.ui-datepicker table.ui-datepicker-calendar tbody tr td a.ui-state-active {
            position: relative;
            margin: -1px;
            background: #6eafbf;
            color: #e0e0e0;
            border: 1px solid #6eafbf; }
        div.ui-datepicker table.ui-datepicker-calendar tbody tr td:last-child {
          border-right: 0px; }
        div.ui-datepicker table.ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable span.ui-state-default {
          background: #f4f4f4;
          color: #b4b3b3; }
      div.ui-datepicker table.ui-datepicker-calendar tbody tr:last-child {
        border: none; }

/************
 * Partials *
 ************/
header {
  position: fixed;
  width: 100%;
  background-color: #373737;
  z-index: 10; }
  header div.header-inner {
    margin: 0 auto;
    padding: 8px 0 6px 0;
    width: calc(100% - 50px);
    overflow: auto; }
    header div.header-inner div.header-branding {
      float: left; }
      header div.header-inner div.header-branding h1 {
        padding: 2px 0 0 0;
        font-family: Pier;
        font-size: 20px;
        color: #8f8f8f;
        letter-spacing: 3px; }
    header div.header-inner div.header-inputs {
      float: right; }
      header div.header-inner div.header-inputs form ul {
        list-style: none;
        overflow: auto; }
        header div.header-inner div.header-inputs form ul li {
          float: left;
          margin-right: 7px;
          overflow: auto; }
          header div.header-inner div.header-inputs form ul li i {
            float: left;
            margin-right: 7px;
            padding: 2px 0;
            font-size: 19px;
            color: #bababa; }
          header div.header-inner div.header-inputs form ul li input {
            float: left;
            padding: 5px 7px;
            background-color: #3f3f3f;
            border: none;
            border-radius: 1px;
            font-size: 12px;
            color: #bababa;
            outline: none; }
          header div.header-inner div.header-inputs form ul li input:focus {
            background-color: #464646; }
        header div.header-inner div.header-inputs form ul li:last-child {
          margin-right: 0; }

main.faces {
  padding-top: 40px;
  background-color: #515151;
  min-height: calc(100% - 40px); }
  main.faces section.face-grid {
    width: 100%; }
    main.faces section.face-grid ul.faces {
      width: 100%;
      background-color: #515151;
      overflow: auto; }
      main.faces section.face-grid ul.faces li {
        float: left;
        margin: 4px 4px 0 0;
        width: calc((100% - (10 * 4px) - 4px) / 10);
        list-style: none;
        background-color: #373737;
        overflow: hidden; }
        main.faces section.face-grid ul.faces li img {
          width: 100%; }
      main.faces section.face-grid ul.faces li:nth-child(10n+1) {
        margin-left: 4px; }

html, body, div#content, main.map, section.google-map, #map-canvas {
  height: 100%; }

main.map {
  padding-top: 40px;
  background-color: #515151;
  height: calc(100% - 40px); }

section.peek {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 242px;
  height: 242px;
  background-color: #333;
  border: 3px solid #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px #aaa;
  cursor: pointer; }
  section.peek div#peek-map, section.peek div#peek-faces {
    width: 100%;
    height: 100%; }
  section.peek div#peek-faces ul.faces-peek {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #333; }
    section.peek div#peek-faces ul.faces-peek li {
      float: left;
      margin: 2px 2px 0 0;
      width: calc((100% - (6 * 2px) - 2px) / 6);
      list-style: none;
      background-color: #333;
      overflow: hidden; }
      section.peek div#peek-faces ul.faces-peek li img {
        width: 100%; }
    section.peek div#peek-faces ul.faces-peek li:nth-child(6n+1) {
      margin-left: 2px; }

/***********
 * Globals *
 ***********/
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html, body {
  font-family: Arial, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
