main.faces {
	padding-top: 40px;
	background-color: lighten($header-color, 10%);
	height: calc(100% - 40px);


	section.face-grid {
		width: 100%;

		ul.faces {
			width: 100%;
			background-color: lighten($header-color, 10%);
			overflow: auto;

			li {
				float: left;
				margin: 4px 4px 0 0;
				width: calc((100% - (10 * 4px) - 4px) / 10);
				list-style: none;
				background-color: $header-color;
				overflow: hidden;

				img {
					width: 100%;
				}
			}
			li:nth-child(10n+1) {
				margin-left: 4px;
			}
		}
	}
}