header {
	position: fixed;
	width: 100%;
	background-color: $header-color;
	z-index: 10;

	div.header-inner {
		margin: 0 auto;
		padding: 8px 0 6px 0;
		width: calc(100% - 50px);
		overflow: auto;

		div.header-branding {
			float: left;

			h1 {
				padding: 2px 0 0 0;
				font-family: $fixed-font-family;
				font-size: 20px;
				color: #8f8f8f;
				letter-spacing: 3px;
			}
		}
		div.header-inputs {
			float: right;

			form {

				ul {
					list-style: none;
					overflow: auto;

					li {
						float: left;
						margin-right: 7px;
						overflow: auto;

						i {
							float: left;
							margin-right: 7px;
							padding: 2px 0;
							font-size: 19px;
							color: #bababa;
						}
						input {
							float: left;
							padding: 5px 7px;
							background-color: lighten(#373737, 3%);
							border: none;
							border-radius: 1px;
							font-size: 12px;
							color: #bababa;
							outline: none;
						}
						input:focus {
							background-color: lighten(#373737, 6%);
						}
					}
					li:last-child {
						margin-right: 0;
					}

				}
			}
		}
	}
}