/************
 * Partials *
 ************/
/**************
 * Typography *
 **************/
/**********
 * Colors *
 **********/
/***********
 * Modules *
 ***********/
/************
 * Partials *
 ************/
header {
  position: fixed;
  width: 100%;
  background-color: #222;
  z-index: 10; }
  header div.header-inner {
    margin: 0 auto;
    padding: 8px 0;
    width: 90%;
    overflow: auto; }
    header div.header-inner div.header-branding {
      float: left; }
      header div.header-inner div.header-branding h1 {
        font-size: 20px;
        color: #ccc; }
    header div.header-inner div.header-inputs {
      float: right; }
      header div.header-inner div.header-inputs form ul {
        list-style: none;
        overflow: auto; }
        header div.header-inner div.header-inputs form ul li {
          float: left;
          margin-right: 7px;
          overflow: auto; }
          header div.header-inner div.header-inputs form ul li i {
            float: left;
            margin-right: 7px;
            padding: 2px 0;
            font-size: 19px;
            color: #555; }
          header div.header-inner div.header-inputs form ul li input {
            float: left;
            padding: 5px 7px;
            background-color: #444;
            border: none;
            border-radius: 1px;
            font-size: 12px;
            color: #fff;
            outline: none; }
        header div.header-inner div.header-inputs form ul li:last-child {
          margin-right: 0; }
          header div.header-inner div.header-inputs form ul li:last-child input {
            background-color: #47718C; }

main.faces {
  padding-top: 40px; }
  main.faces section.face-grid {
    width: 100%; }
    main.faces section.face-grid ul.faces {
      width: 100%; }
      main.faces section.face-grid ul.faces li {
        float: left;
        width: calc(100% / 8);
        list-style: none;
        background-color: #444;
        overflow: hidden; }
        main.faces section.face-grid ul.faces li img {
          width: 100%; }
  main.faces section.map-peek {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 240px;
    height: 240px;
    background-color: #333;
    border-radius: 3px; }
    main.faces section.map-peek div {
      text-align: center; }
      main.faces section.map-peek div span {
        position: relative;
        top: 110px;
        color: #fff; }

html, body, div#content, main.map, section.google-map, #map-canvas {
  height: 100%; }

main.map {
  padding-top: 40px; }
  main.map section.face-peek {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 240px;
    height: 240px;
    background-color: #333;
    border-radius: 3px; }
    main.map section.face-peek div {
      text-align: center; }
      main.map section.face-peek div span {
        position: relative;
        top: 110px;
        color: #fff; }

/***********
 * Globals *
 ***********/
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html, body {
  font-family: Arial, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
