<header>
	<div class="header-inner">
		<div class="header-branding">
			<h1>Composite</h1>
		</div>
		<div class="header-inputs">
			<form>
				<ul>
					<li>
						<i class="fa fa-map-marker"></i>
						<input type="text" name="location" placeholder="Location" />
					</li>
					<li>
						<i class="fa fa-calendar"></i>
						<input type="text" name="date" placeholder="Date" />
					</li>
					<li>
						<input type="submit" value="submit" />
					</li>
				</ul>
			</form>
		</div>
	</div>
</header>