<!DOCTYPE HTML>
<html ng-app="compositeApp">


	<head>
		<meta charset="utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<link rel="stylesheet" href="/static/style/main.css" />

		<title>Composite</title>
	</head>


	<body>
		<header>
			<div class="header-inner">
				<h1>Composite</h1>
			</div>
		</header>

		<!-- Alex's ugly test form -->
		<form method="POST", action="/" >
			<p style="overflow: auto;">
				<h2 style="float: left;">Latitude: </h2>
					<input type="text" name="lat" style="float: left; padding: 4px 10px; border: 1px solid #aaa; outline: none;">
				<h2>Longitude: </h2>
					<input type="text" name="lon" style="float: left; padding: 4px 10px; border: 1px solid #aaa; outline: none;">
				<input type="submit" value="Submit" style="float: left; padding: 4px 10px; border: 1px solid #aaa; outline: none;">
			</p>
		</form>

		<!-- Jinja content block -->
		<div id="content">{% block content %}{% endblock %}</div>

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

		<script src="/static/js/compositeApp/index.js"></script>
		<script src="/static/js/compositeApp/controllers/mapCtrl.js"></script>
	</body>


</html>